/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding: 0;
 
}


.learningtrack{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.learningtrack .card{
  height: 250px;
    width: 250px; 
    border: 10px;
   box-shadow: 7px 10px 10px black;
   background-repeat: no-repeat;
   /* background-size:contain; */
   
  }

  .card .container-product{
    color: white;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }

  .card .content{
    margin-top: 20px;
     width: 100%;
    height: 150px;
    background-color: #1b3355;
    transition:all 0.5s linear;
  }

  .card .content h6{
     padding: 0 10px;
    }

    .content .career{
       width: 100%;
       height: 40px;
       display: flex;
       align-items: center;
       background-color: #0D2440;
       overflow: hidden;
    }

    .career button{
       margin-left: 10px;
       background-color: rgb(180, 0, 222);
        color: white;
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
      }

      .card:hover .content{
        cursor: pointer;
        height: 165px;
        background-color: #0b233f;
      }